<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>

    <title>Title</title>
</head>
<div th:replace="~{fragments/header :: header}">Header</div>
<body>
<form action="/sporthallnew" method="post">
    <!-- Andere velden -->
    <input type="text" name="roomname" placeholder="Room Name" required>
    <input type="text" name="description" placeholder="Description" required>
    <input type="date" name="date" placeholder="Date" required>
    <input type="time" name="Sporthallopening" placeholder="Opening Time" required>
    <!-- Andere velden -->
    <button type="submit">Submit</button>
</form>


<div th:replace="~{fragments/footer :: footer}">Footer</div>

</body>
</html>