<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>

    <title>Title</title>
</head>
<div th:replace="~{fragments/header :: header}">Header</div>
<body>
<div class="row1">
    <div class="row1content" th:object="${sporthall}">


        <h2>New Sports Hall</h2>
        <div class="error" th:if="${#fields.hasErrors('*')}">ERROR - Data not saved</div>

        <form th:action="@{|/admin/sporthallnew|}" method="post">

            <div class="venueinfo">
                <div class="infoLine">
                    <label for="sporthallName" class="infoLineName">Name: </label>
                    <input id="sporthallName" th:field="*{zaalnaam}" class="infoLineValue" th:errorclass="fieldError">
                </div>
                <div class="infoLine">
                    <label for="sporthallLocation" class="infoLineName">Location: </label>
                    <input id="sporthallLocation" th:field="*{locatie}" class="infoLineValue">
                </div>
                <div class="infoLine">
                    <label for="sporthallCapacity" class="infoLineName">Capacity: </label>
                    <input id="sporthallCapacity" type="number" th:field="*{capaciteit}" class="infoLineValue">
                </div>
                <div class="infoLine">
                    <label for="sporthallDescription" class="infoLineName">Description: </label>
                    <textarea id="sporthallDescription" th:field="*{beschrijving}" cols="25" rows="5"
                              class="infoLineValue"></textarea>
                </div>
                <div class="infoLine">
                    <label for="sporthallTariff" class="infoLineName">Tariff: </label>
                    <input id="sporthallTariff" type="number" step="0.01" th:field="*{tarief}" class="infoLineValue">
                    &nbsp;&euro;
                </div>
                <div class="infoLine">
                    <label for="sporthallImageUrl" class="infoLineName">Image URL: </label>
                    <input id="sporthallImageUrl" type="url" th:field="*{imageUrl}" class="infoLineValue">
                </div>
                <div class="infoLine">
                    <input id="sporthallChangingRooms" type="checkbox" th:field="*{kleedkamers}" class="infoLineValue">
                    <label for="sporthallChangingRooms" class="infoLineName">Changing Rooms</label>
                </div>
                <div class="infoLine">
                    <a th:href="@{|/sporthalllist|}" class="buttonLook editButton">Cancel</a>
                    <input type="submit" value="Create" class="buttonLook editButton">
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>

</body>
</html>