<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Title</title>
</head>
<div th:replace="~{fragments/header :: header}">Header</div>
<body>

<div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
        <form class="login100-form validate-form flex-sb flex-w" th:action="@{/user/logout}" method="post">
            <span class="login100-form-title p-b-51">Thank you  </span>

            <div class="row1">
                <div class="row1content">
                    <p >Logout <span sec:authentication="name">username</span>?</p>
                </div>
            </div>

            <div class="container-login100-form-btn m-t-17">
                <button class="login100-form-btn">Logout</button>
            </div>
        </form>
    </div>
</div>





<div th:replace="~{fragments/footer :: footer}">footer</div>
</body>
</html>