<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <!-- Navigatiebalk -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/home}">Zaalfindr</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sporthall}">Zalen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sportequipments}">Equipments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <!-- Zorg ervoor dat zowel login- als logout-links dezelfde opmaak hebben -->
                        <a class="nav-link buttonLook menuButton" th:href="@{/user/login}" sec:authorize="!isAuthenticated()">Login</a>
                        <a class="nav-link buttonLook menuButton" th:href="@{/user/logout}" sec:authorize="isAuthenticated()">Logout</a>
                    </li>
                    <li class="nav-item hello">
                        <!-- Plaats de "logged in as" tekst in dezelfde container als de andere links -->
                        <span class="nav-link" sec:authorize="isAuthenticated()">Welkom <span sec:authentication="name"></span></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>





</body>
</html>