body {

    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.zaal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Start van de container, zodat het niet gecentreerd is */
}

.zaal-card {
    width: calc(20% - 40px); /* 20% breedte - marges */
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.zaal-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.zaal-info {
    padding: 10px;
}

.zaal-info h2 {
    margin-top: 0;
}

.zaal-info p {
    margin: 5px 0;
}


.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);

}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;

}

.column-left h1 {

    font-size: 3rem;
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #ffffff;
    background: rgb(77, 77, 77);
    cursor: pointer;
    margin-left: 20px;

}

button:hover {
    background: #000000;

}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.zaal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.zaal-card {
    width: calc(33.33% - 20px); /* Bereken de breedte zodat er drie containers naast elkaar passen */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.zaal-image {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.zaal-info {
    padding: 10px;
}

.zaal-info h2 {
    margin-top: 0;
}

.zaal-info p {
    margin: 5px 0;
}
