body {

    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.filters {
    margin-bottom: 20px;
}

.onefilter {
    float: right;
    margin-right: 20px;
    margin-top: 40px;
}

.filtername {
    font-weight: bold;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.filterButton {
    display: inline-block;
    padding: 8px 16px;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 5px;
    transition: background-color 0.3s ease;
    border-color: #000; /* Set border color to black */
}

.filterButton:hover {
    background-color: #ccc;
    color: #000; /* Set text color to black on hover */
}

.activeFilter {
    background-color: #131313;
    color: #fff;
    border-color: #000; /* Set border color to black */
}

.card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Opmaak voor kaartafbeeldingen */
.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px; /* Pas dit aan naar de gewenste hoogte */
    object-fit: cover;
}

/* Opmaak voor kaarttitel */
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

/* Opmaak voor kaarttekst */
.card-text {
    font-size: 1rem;
    color: #555;
}


.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);

}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;

}

.column-left h1 {

    font-size: 3rem;
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #ffffff;
    background: rgb(77, 77, 77);
    cursor: pointer;
    margin-left: 20px;

}

button:hover {
    background: #000000;

}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}
