body {

    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* Opmaak voor  home page  */
.card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
}


.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}


.card-text {
    font-size: 1rem;
    color: #555;
}


.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);

}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;

}

.column-left h1 {

    font-size: 3rem;
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #ffffff;
    background: rgb(77, 77, 77);
    cursor: pointer;
    margin-left: 20px;

}

button:hover {
    background: #000000;

}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

/*zaal deatails opmaak */
.containerzalendetials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.detail-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 40px;
    margin: 20px;
}
.detail-item h2 {
    margin-bottom: 20px;
}
.detail-item p {
    margin-bottom: 10px;
}
/* Basisstijlen voor knoppen  voor zalen*/
.button {
    display: inline-block;
    padding: 10px 20px;

    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #000000;
}

.filter {
    margin-top: 20px;
}

/* Stijlen voor filterknoppen */
.filterButton {
    margin-right: 10px;
}

/* Stijlen voor actieve filterknop */
.activeFilter {
    background-color: #555555; /* Groene kleur voor actieve filters */
}

/* Hover-effect voor knoppen */
.btn:hover {
    opacity: 0.8;
}

