<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="containerhome">
    <div class="contact-info">
        <h1>Contactgegevens</h1>
        <p>Naam: <span th:text="${myName}"></span></p>
        <p>Telefoon: <span th:text="${contactPhone}"></span></p>
    </div>
    <div class="profile-picture">
        <img src="images/sohael.jpg" alt="Sohael El Makkaoui">
    </div>
    <div class="social-links">
        <h1>Social Media</h1>
        <ul>
            <li><a href="#" th:href="${instagramLink}">Instagram</a></li>
            <li><a href="#" th:href="${linkinLink}">LinkedIn</a></li>
            <li><a href="#" th:href="${facebookLink}">Facebook</a></li>
            <li><a href="#" th:href="${githubLink}">GitHub</a></li>
        </ul>
    </div>
</div>
</body>
</div>

<div th:replace="~{fragments/footer :: footer}">footer</div>
</body>


</html>