<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Zaalfindr</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<section class="bg-light py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 display-5 text-center">Contact</h2>
                <p class="text-secondary mb-5 text-center">Welcome to Zaalfindr, your go-to platform for booking sports halls effortlessly. Whether you're planning a casual game with friends or organizing a league match, we've got you covered. Need assistance or have any questions? Reach out to us!</p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="card">
            <img th:src="@{${pictureLink}}" class="card-img-top" th:alt="${myName}">
            <div class="card-body">
                <h5 class="card-title" th:text="${myName}"></h5>
                <p class="card-text" th:text="'Phone: ' + ${contactPhone}"></p>
                <p class="card-text" th:text="'Email: ' + ${contactEmail}"></p>

                <div class="d-flex justify-content-around">
                    <a th:href="${instagramLink}" class="btn btn-primary">Instagram</a>
                    <a th:href="${linkinLink}" class="btn btn-primary">LinkedIn</a>
                    <a th:href="${facebookLink}" class="btn btn-primary">Facebook</a>
                    <a th:href="${githubLink}" class="btn btn-primary">GitHub</a>
                </div>
            </div>
        </div>
    </div>

</section>

<div th:replace="~{fragments/footer :: footer}">footer</div>
</body>


</html>