<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Title</title>
</head>
<div th:replace="~{fragments/header :: header}">Header</div>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card mt-5">
                <img th:src="${equipment.getImageUrl()}" alt="Equipment Image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Merk: <span th:text="${equipment.merk}">Equipment Merk</span></h5>
                    <p class="card-text">Sport: <span th:text="${equipment.sport}">Equipment Sport</span></p>
                    <p class="card-text">Artikel: <span th:text="${equipment.artikel}">Equipment Artikel</span></p>
                    <p class="card-text">Huurprijs: <span th:text="'€ ' + ${equipment.getPrijs()}">€ Equipment Prijs</span></p>
                    <a th:href="@{/reservationdetails}" class="btn btn-primary">Reserveer</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card mt-5">
                <a th:href="@{|/sporthalldetails/${equipment.reservations.sporthall.id}|}" class="user-details-link">
                    <img th:src="@{${equipment.reservations.sporthall.getImageUrl()}}" class="card-img-top img-fluid" alt="Sporthal Image">
                </a>
                <div class="card-body">
                    <h5 class="card-title"> More information</h5>
                    <div th:each="sporthall : ${equipment.reservations.sporthall}">
                        <p>Zaal: <span th:text="${equipment.reservations.sporthall.getZaalnaam()}"></span></p>
                        <p>Reserveringsstatus: <span th:text="${equipment.reservations.sporthall.getLocatie()}"></span></p>
                        <p>Reservatie Equuiment: <span><span th:text="'€ ' + ${equipment.reservations.sporthall.getTarief()}"></span></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace = "~{fragments/footer :: footer}">footer</div>
</html>