<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Title</title>
</head>
<div th:replace="~{fragments/header :: header}">Header</div>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card mt-5">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img th:src="${equipment.getImageUrl()}" alt="Equipment Image" class="card-img-top">
                    </div>
                    <div class="col-md-6">
                        <img th:src="@{${equipment.reservations.sporthall.getImageUrl()}}" class="card-img-top" alt="Sporthal Image">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><strong>Merk:</strong> <span th:text="${equipment.merk}"></span></h5>
                    <p class="card-text"><strong>Sport:</strong> <span th:text="${equipment.sport}"></span></p>
                    <p class="card-text"><strong>Artikel:</strong> <span th:text="${equipment.artikel}"></span></p>
                    <p class="card-text"><strong>Huurprijs:</strong> <span th:text="'€ ' + ${equipment.getPrijs()}"></span></p>
                    <hr>
                    <h5 class="card-title">Zaal Informatie</h5>
                    <p><strong>Zaal:</strong> <span th:text="${equipment.reservations.sporthall.getZaalnaam()}"></span></p>
                    <p><strong>Adres:</strong> <span th:text="${equipment.reservations.sporthall.getLocatie()}"></span></p>
                    <p><strong>Zaal Prijs:</strong> <span><span th:text="'€ ' + ${equipment.reservations.sporthall.getTarief()}"></span></span></p>
                    <a th:href="@{/reservationdetails}" class="btn btn-primary">Reserveer</a>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
<div th:replace = "~{fragments/footer :: footer}">footer</div>
</html>