<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>

</head>
<div th:replace="~{fragments/header :: header}">Header</div>

<body>


<section class="hero">
    <div class="hero-container">
        <div class="column-left">
            <h1>Welkom bij Zaalfindr!</h1>
            <p>Zoek naar zalen in Antwerpen</p>
            <a th:href="@{/zalen}">
                <button>Get Started</button>
            </a>
        </div>
        <div class="column-right">
            <img th:src="@{/images/zaalfoto.jpg}" class="hero-image" alt="Zaal 3">


        </div>
    </div>
</section>
</body>

<div th:replace = "~{fragments/footer :: footer}">footer</div>


</html>