<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Zaalfindr</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>


<div class="container mt-5">
    <h2 class="mb-4">Gereserveerde Zalen</h2>
    <div class="row">
        <div th:each="reservation : ${reservations}" class="col-md-4 mb-4">
            <a th:href="@{|/userdetails/${reservation.user.id}|}" class="card-link">
                <div class="card">
                    <div class="card-inner card-front">
                        <div class="card-body">
                            <h5 class="card-title">Zaal Reservatie:</h5>
                            <p class="card-text"><strong>ZaalNaam: </strong><span th:text="${reservation.sporthall.getRoomname()}"></span></p>
                            <p class="card-text"><strong>Betaling:</strong> <span th:text="${reservation.status}"></span></p>
                            <p class="card-text"><strong>Gereserveerde Tijd:</strong> <span th:text="${#dates.format(reservation.sporthall.getSporthallopening(), 'HH:mm')}"></span></p>
                            <p class="card-text"><strong>Gereserveerde Datum:</strong> <span th:text="${#dates.format(reservation.sporthall.getDate(), 'dd/MM/yyyy')}"></span></p>

                        </div>
                    </div>
                    <div class="card-inner card-back">
                        <div class="card-body">
                            <h5 class="card-title">Klant Informatie:</h5>
                            <p class="card-text">User Naam: <span th:text="${reservation.user.getFirstName()}"></span></p>
                            <p class="card-text">Prijs reservatie: <span>&euro;</span><span th:text="${reservation.sporthall.getRate()}"></span></p>
                            <p class="card-text" th:if="${not #lists.isEmpty(reservation.equipments)}">Opmerking: <span th:text="${reservation.comments}"></span></p>
                            <hr th:if="${not #lists.isEmpty(reservation.equipments)}">
                            <h5 class="card-title" th:if="${not #lists.isEmpty(reservation.equipments)}">Gereserveerde Uitrusting:</h5>
                            <div th:each="equipment : ${reservation.equipments}" class="reserved-equipment">
                                <div>
                                    <strong>Merk:</strong> <span th:text="${equipment.getBrand()}"></span><br>
                                    <strong>Artikel:</strong> <span th:text="${equipment.getArticle()}"></span><br>
                                    <strong>Prijs:</strong> <span>&euro;</span><span th:text="${equipment.getPrice()}"></span><br>
                                </div>
                            </div>
                            <img th:src="${reservation.sporthall.getImageUrl()}" class="card-img-top" alt="Zaal foto">

                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer :: footer}">footer</div>
</body>
</html>