<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Title</title>
</head>
<div th:replace="~{fragments/header :: header}">Header</div>
<body>
<div class="reservation-container mt-5">
    <div class="row justify-content-center">
        <div th:each="reservatie : ${reservation}" class="col-md-8 mb-4">
            <a th:href="@{/reservationdetails}" class="card-link">
                <div class="card h-100 reservation-card">
                    <div class="card-body">
                        <h5 class="card-title">Reservatie details</h5>
                        <p class="card-text"><strong>ZaalNaam:</strong> <span th:text="${reservation.sporthall.getZaalnaam()}"></span></p>
                        <p class="card-text"><strong>Betaling:</strong> <span th:text="${reservation.status}"></span></p>
                        <p class="card-text"><strong> Naam:</strong> <span th:text="${reservation.user.getFirstName()}"></span></p>
                        <p class="card-text"><strong>Prijs reservatie:</strong> <span>&euro;</span><span th:text="${reservation.sporthall.getTarief()}"></span></p>
                        <p class="card-text"><strong>Opmerking:</strong> <span th:text="${reservation.opmerkingen}"></span></p>
                    </div>
                </div>
            </a>
        </div>
    </div>


</div>
    <div th:replace="~{fragments/footer :: footer}">footer</div>

</body>
</html>