<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Title</title>
</head>
<div th:replace="~{fragments/header :: header}">Header</div>
<body>
<div class="container mt-5">
    <h2 class="mb-4">Gereserveerde Zalen</h2>
    <div class="row">
        <div th:each="reservatie : ${reservaties}" class="col-md-4 mb-4">
            <a th:href="@{|/userdetails/${reservatie.user.id}|}" class="card-link">
                <div class="card">
                    <div class="card-inner card-front">
                        <div class="card-body">
                            <h5 class="card-title">Zaal Informatie:</h5>
                            <p class="card-text">ZaalNaam: <span th:text="${reservatie.sporthall.getZaalnaam()}"></span></p>
                            <p class="card-text">Betaling: <span th:text="${reservatie.status}"></span></p>
                        </div>
                    </div>
                    <div class="card-inner card-back">
                        <div class="card-body">
                            <h5 class="card-title">Klant Informatie:</h5>
                            <p class="card-text">User Naam: <span th:text="${reservatie.user.getFirstName()}"></span></p>
                            <p class="card-text">ZaalNaam Reservatie: <span th:text="${reservatie.sporthall.getZaalnaam()}"></span></p>
                            <p class="card-text">Prijs reservatie: <span>&euro;</span><span th:text="${reservatie.sporthall.getTarief()}"></span></p>
                            <p class="card-text" th:text="${reservatie.getOpmerkingen()}"></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>




<div th:replace = "~{fragments/footer :: footer}">footer</div>
</body>
</html>