<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-Jb2ZhHHeaJI/rIQEfo6v/NeOmNo4ZjSiRKeJr+15r7fL+CYLrKorj5JZhAB4grUbZpYlOq+GWy2XDZ5N5VzBMw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Zaalfindr</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="filter" th:unless="${showFilters}">
    <a class="filters" th:href="@{/sporthall/filter}">
        <button class="button">Filter</button>
    </a>
</div>

<div class="filter" th:if="${showFilters}">
    <a class="filters" th:href="@{/sporthall}">
        <button class="button">Go back</button>
    </a>

    <div class="containertarief">
        <form>
            <div class="mb-3">
                <input type="submit" value="search" class="btn btn-primary">
            </div>
            <h3>Tarief</h3>
            <div class="mb-3">
                <label for="mintarief" class="form-label">Minimum Tarief:</label>
                <div class="input-group">
                    <span class="input-group-text">€</span>
                    <input type="number" id="mintarief" name="mintarief" class="form-control" th:value="${param.mintarief}" step="1">
                </div>
            </div>
            <div class="mb-3">
                <label for="maxtarief" class="form-label">Maximum Tarief:</label>
                <div class="input-group">
                    <span class="input-group-text">€</span>
                    <input type="number" id="maxtarief" name="maxtarief" class="form-control" th:value="${param.maxtarief}" step="1">
                </div>
            </div>
            <h3>Kleedkamers</h3>
            <div class="mb-3 form-check">
                <input type="checkbox" id="kleedkamers" name="kleedkamers" class="form-check-input" th:checked="${param.kleedkamers}">
                <label for="kleedkamers" class="form-check-label">Kleedkamers beschikbaar</label>
            </div>
            <h3>Capaciteit</h3>
            <div class="mb-3">
                <label for="mincapaciteit" class="form-label">Minimale Capaciteit:</label>
                <input type="number" id="mincapaciteit" name="mincapaciteit" class="form-control" th:value="${param.mincapaciteit}" step="1">
            </div>
            <div class="mb-3">
                <label for="maxcapaciteit" class="form-label">Maximale Capaciteit:</label>
                <input type="number" id="maxcapaciteit" name="maxcapaciteit" class="form-control" th:value="${param.maxcapaciteit}" step="1">
            </div>
        </form>
    </div>
</div>
<div class="container mt-4">
    <h2>Zalen</h2>
    <div class="row">
        <div th:each="sporthall : ${sporthalls}" class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <a th:href="@{|/sporthalldetails/${sporthall.id}|}" class="buttonlook mediumButton">
                <div class="card h-100">
                    <img th:src="@{${sporthall.imageUrl}}" class="card-img-top img-fluid" alt="Zaalbeeld">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${sporthall.zaalnaam}"></h5>
                        <p class="card-text" th:text="${sporthall.locatie}"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>



    <div th:replace="~{fragments/footer :: footer}">footer</div>
<



</body>


</html>