<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>

    <title>Zaalfindr</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="filter" th:unless="${showFilters}">
    <a class="filters" th:href="@{/sportequipments/filter}">
        <button class="button">Filter</button>
    </a>
</div>

<div class="filter" th:if="${showFilters}">
    <a class="filters" th:href="@{/sportequipments}">
        <button class="button">Go back</button>
    </a>

    <div class="containertarief">
        <form >
            <div class="mb-3">
                <input type="submit" value="search" class="btn btn-primary">
            </div>
            <h3>Prijs</h3>
            <div class="mb-3">
                <label for="minprice" class="form-label">Minimum Prijs:</label>
                <div class="input-group">
                    <span class="input-group-text">€</span>
                    <input type="number" id="minprice" name="minprice" class="form-control" th:value="${minprice}" step="1">
                </div>
            </div>
            <div class="mb-3">
                <label for="maxprice" class="form-label">Maximum Prijs:</label>
                <div class="input-group">
                    <span class="input-group-text">€</span>
                    <input type="number" id="maxprice" name="maxprice" class="form-control" th:value="${maxprice}" step="1">
                </div>
            </div>
            <h3>Equipments</h3>
            <div class="mb-3 form-check">
                <input type="checkbox" id="available" name="available" class="form-check-input" th:checked="${available}">
                <label for="available" class="form-check-label">beschikbaar</label>
            </div>
        </form>
    </div>
</div>

<div class="container mt-4">
    <h2>Equipment</h2>
    <div class="row">
        <div th:each="equipment : ${equipments}" class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a th:href="@{|/equipmentsdetails/${equipment.id}|}">
                    <img th:src="${equipment.imageUrl}" alt="Equipment Image" class="card-img-top">
                </a>
                <div class="card-body">
                    <p class="card-text"><strong>Prijs:</strong> &euro;<span th:text="${equipment.price}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer :: footer}">footer</div>


</body>
</html>