<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Title</title>
</head>
<div th:replace="~{fragments/header :: header}">Header</div>


<body>
<div sec:authorize="hasAuthority('ADMIN')"> <!-- Alleen zichtbaar voor gebruikers met 'ADMIN' bevoegdheid -->
    <a th:href="@{|/admin/zaaledit/${id}|}" class="buttonlink">Edit</a> <!-- Bewerkingslink -->
</div>

<div class="container">
    <div class="row row1 justify-content-center">
        <div class="col-auto">
            <div class="row1content" th:if="${zalen}">
                <div class="prevButtonDiv">
                    <a class="buttonLook smallButton prevButton" th:href="@{|/sporthalldetials/${prevId}|}"> Previous</a>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="row1content" th:if="${zalen}">
                <div class="nextButtonDiv">
                    <a class="buttonLook smallButton nextButton" th:href="@{|/sporthalldetials/${nextId}|}">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Zaal Details</h2>
                    <div th:if="${zalen}" class="zaal-details">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="zaal-image">
                                    <img th:src="${zalen.getImageUrl()}" alt="Zaal Image" class="img-fluid rounded">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="zaal-info">
                                    <p><strong>Zaalnaam:</strong> <span th:text="${zalen.getZaalnaam()}"></span></p>
                                    <p><strong>Capaciteit:</strong> <span th:text="${zalen.getCapaciteit()}"></span></p>
                                    <p><strong>Beschrijving:</strong> <span th:text="${zalen.getBeschrijving()}"></span>
                                    </p>
                                    <p><strong>Locatie:</strong> <span th:text="${zalen.getLocatie()}"></span></p>
                                    <p><strong>Tarief:</strong> <span th:text="'€ ' + ${zalen.getTarief()}"></span></p>

                                </div>
                            </div>
                        </div>
                        <form action="/reserveren" method="post">
                            <div class="form-group">
                                <label for="zaal">Zaal:</label>
                                <select class="form-control" id="zaal" name="zaal">
                                    <option th:each="zaal : ${zalen}" th:value="${zalen.getId()}"
                                            th:text="${zalen.getZaalnaam()}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="tijd">Tijd:</label>
                                <select class="form-control" id="tijd" name="tijd">
                                    <option th:each="tijd : ${zalen.getBeschikbareTijden()}" th:value="${tijd}"
                                            th:text="${tijd}"></option><!-- werkt niet -->
                                </select>
                            </div>

                            <a th:if="${zalen}" th:href="@{/reservatiedetails}" class="btn btn-primary btn-block mt-4">Reserveer
                                deze zaal</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${zalen}" class="text-center mt-4">
        <p class="text-muted">Geen zaal gevonden.</p>
    </div>
</div>



</body>

<footer>
    <div th:replace="~{fragments/footer :: footer}">footer</div>

</footer>
</html>