<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Zaalfindr</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<div sec:authorize="hasAuthority('ADMIN')"> <!-- Alleen zichtbaar voor gebruikers met 'ADMIN' bevoegdheid -->
    <a th:href="@{|/admin/sporthalledit/${id}|}" class="buttonlink">Edit</a> <!-- Bewerkingslink -->
</div>
<div sec:authorize="hasAuthority('ADMIN')"> <!-- Alleen zichtbaar voor gebruikers met 'ADMIN' bevoegdheid -->
    <a th:href="@{|/admin/sporthallnew|}" class="buttonlink">New Sporthall</a> <!-- Link voor het toevoegen van een nieuwe sporthal -->
</div>


<div class="container">
    <div class="row row1 justify-content-center">
        <div class="col-auto">
            <div class="row1content" th:if="${sporthall}">
                <div class="prevButtonDiv">
                    <a class="buttonLook smallButton prevButton" th:href="@{|/sporthalldetails/${prevId}|}"> Previous</a>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="row1content" th:if="${sporthall}">
                <div class="nextButtonDiv">
                    <a class="buttonLook smallButton nextButton" th:href="@{|/sporthalldetails/${nextId}|}">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Zaal Details</h2>
                    <div th:if="${sporthall}" class="zaal-details">   <!-- Conditionele evaluatie -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="zaal-image">
                                    <img th:src="${sporthall.getImageUrl()}" alt="Zaal Image" class="img-fluid rounded">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="zaal-info">
                                    <p><strong>Zaalnaam:</strong> <span th:text="${sporthall.getZaalnaam()}"></span></p>
                                    <p><strong>Capaciteit:</strong> <span th:text="${sporthall.getCapaciteit()}"></span></p>
                                    <p><strong>Beschrijving:</strong> <span th:text="${sporthall.getBeschrijving()}"></span>
                                    </p>
                                    <p><strong>Locatie:</strong> <span th:text="${sporthall.getLocatie()}"></span></p>
                                    <p><strong>Tarief:</strong> <span th:text="'€ ' + ${sporthall.getTarief()}"></span></p>

                                </div>
                            </div>
                        </div>
                        <form action="/reserveren" method="post">
                            <div class="form-group">
                                <label for="zaal">Sporthall:</label>
                                <select class="form-control" id="zaal" name="zaal">
                                    <option th:each="sporthall : ${sporthall}" th:value="${sporthall.getId()}" th:text="${sporthall.getZaalnaam()}"></option> <!-- For-loop-->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="time">Tijd:</label>
                                <!-- Hier worden de beschikbare tijden weergegeven -->
                                <select class="form-control" id="time" name="time">
                                    <option th:each="time : ${sporthall.getSporthallopening()}" th:value="${time}" th:text="${#dates.format(time, 'HH:mm')}"></option>
                                </select>

                                <div class="form-group">
                                    <label for="date">Datum:</label>
                                    <select class="form-control" id="date" name="date">
                                        <option th:each="date : ${sporthall.date}" th:value="${date}" th:text="${#dates.format(date, 'dd/MM/yyyy')}"></option>
                                    </select>
                                </div>


                                <input type="hidden" name="zaalId" th:value="${sporthall.getId()}">
                            <a th:if="${sporthall}" th:href="@{'/reservation/' + ${sporthall.getId()}}" class="btn btn-primary btn-block mt-4">Reserveer deze zaal</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${sporthall}" class="text-center mt-4">
        <p class="text-muted">Geen zaal gevonden.</p>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">footer</div>


</body>


</html>