<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Title</title>
</head>
<div th:replace = "~{fragments/header :: header}">Header</div>
<body>

<div class="filter">
    <a th:unless="${showFilters}" class="filters" th:href="@{/zalen/filter}">
        <button class="button">Filter</button>
    </a>


    <div class="filter">
        <a th:if="${showFilters}" class="filters" th:href="@{/zalen}">
            <button class="button">Go back</button>
        </a>

<div class="container mt-4">
    <h1>Zalen</h1>
    <div class="row">

        <div th:each="zaal : ${zalens}" class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a class="buttonlook mediumButton" th:href="@{|/zalendetails/${zaal.id}|}">
                    <img th:src="@{${zaal.getImage()}}" class="card-img-top img-fluid" alt="Zaalbeeld">
                </a>

                <div class="card-body">
                    <h5 class="card-title" th:text="${zaal.getZaalnaam()}"></h5>
                    <p class="card-text" th:text="${zaal.locatie}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</body>
<div th:replace = "~{fragments/footer :: footer}">footer</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-AsQa0AIv6PZ8tzL2MU7LyP5hgzBibcj+2O6C0D9X/rrbiqgLwF2kUsSEj/q1b4+h"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCzJ3uFiqMquFkF4h5ww/jjF04wD+cleLEI+" crossorigin="anonymous"></script>

</html>